body {
    font-family: "Roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

button {
    border: 0;
}

.header,
.footer {
    height: 80px;
    background: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.header .left {
    font-size: 24px;
}

.header .right {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background: #1F2937;
    padding: 72px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.hero .left {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    justify-content: center;
}

.sign-up {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 25px;
    border-radius: 6px;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 6px;
}

.hero-image {
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 300px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.information-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    box-sizing: border-box;
    margin: 45px;
}

.card-container {
    display: flex;
    gap: 30px;
}

.card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 200px;
}

.card-desc {
    width: 200px;
}

.quote {
    padding: 64px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    background: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
}

.quote-text {
    width: 620px;
}

.quote-source {
    margin: 24px;
    font-size: 24px;
    font-weight:900;
    display: flex;
    flex-direction: row-reverse;
}

.action {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.action-wrapper,
.action button {
    background: #3882f6;
    color: #F9FAF8;
}

.action button {
    padding: 0px 18px;
    border-radius: 6px;
    border: 2px solid white;
}

.action-wrapper {
    box-sizing: border-box;
    border-radius: 6px;
    width: 700px;
    padding: 32px 72px;
    display: flex;
    justify-content: space-between;
}

.action-wrapper .left {
    display: flex;
    flex-direction: column;
}

.action-header {
    font-size: large;
    font-weight: 800;
}