body {
    font-family: "Roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.header,
.footer {
    height: 80px;
    background: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.header .left {
    font-size: 24px;
}

.header .right {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background: #1F2937;
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.hero .left {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.sign-up {
    width: 200px;
}

.hero-image {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 200px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    width: 300px;
    height: 100%;
}

.card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 200px;
}

.quote {
    background: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.action,
.action button {
    background: #3882f6;
    color: #F9FAF8;
}